/** {
   border: 1px solid red !important;
   margin: 1px solid blue !important;
      padding: 1px solid black !important;

}*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
h1 {
  border: 2000px;
  font-size: 15vw;
  text-align: center;
}

.custom-text {
  font-size: 5vw;
}

.custom-center {
  width: 100%;
  position: absolute;
  align: center;
  text-align: center;
}

.custom-button {
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:10%;
 }

.custom-modal {
  width: 400px;
  height: 400px;
}

.custom-form {

  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Center-Container {
  position: relative;
}

.sideright {
  background-color: black;
  margin: 10px:
  border-radius: 5px;
  padding: 20px:
  font-size: 105%;
  float: left;
  width:  260px;
}
nav {
  position: absolute;
  left: 0px;
  width: 20%;
  height: 100%;
  margin-right: 3%;
}

section {
  /* position is static by default */
  margin-left: 20%;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
    nav {
      display: none;
    }
    section {
      /* position is static by default */
      margin-left: 0%;
    }
}
