/** {
   border: 1px solid red !important;
   margin: 1px solid blue !important;
      padding: 1px solid black !important;

}*/

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {

 font-family: Raleway;
}

.user-img-circle {
  width: 75%;
}

.img-circle {
  height: 250px;
  width: 250px;
}

h1 {
  font-family: Lobster;
  border: 2000px;
  font-size: 150px;
  text-align: center;
}
h2 {
  font-family: Lobster;
  font-size: 40px;
}
h3 {
  font-family: Lobster;
}
h4 {
  font-family: Lobster;
}

.button-align {
  text-align: right;
  margin-top: 20px;
}

.friend-img {
  padding: 7px;
  height: 60px;
  width: 60px;
  margin-top: 10px;
}

.friend-name {
  padding-left: 10px;
}

.user-card{
  max-height: 350px;
  max-width: 350px;
  align: center;
  background-color: blue;
}

#friend-in-events1 {float:left;margin-right:10px;}
#friend-in-events2 {float:left;margin-left:10px;}

.sidenav {
  position: fixed;
  left: 0px;
  width: 20%;
  height: 100%;
  margin-right: 3%;
/*  max-width: 350px;*/
}

section {
  margin-left: 20%;
  max-width: 100%;
}

.event-card {
  margin-top:20px;
  border: 3%;

}
.feature-cards {
  font-size: 20px;
  padding:20px;
}

.inner-text {
  padding: 15px;
}


#list {
  max-height:0;
  overflow:hidden;
  transition:0.5s linear;
  }
a:focus + #list {
  max-height:15em;
  }
a:focus {
  pointer-events:none;
  }
.chat-bubble {
  margin-top: 10px;
  padding: 10px;
  background-color: grey;

      background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;

}
.chat-bubble-text {
  padding: 10px;
}
.chat-bubble-img {
/*  padding-top: 10px;*/
}
.chat-card {
  max-height: 500px;
}

.chat-img {
  padding: 10px;
  height: 80px;
  width: 80px;
}


/*@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
      .sidenav {
      display: none;
  }

  section {
      margin-left: 0%;
  }
}*/


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */
.carousel {
  height: 768px;
  margin-bottom: 60px;
      background: url('http://www.greenland.com/media/4913/hiking-along-the-edge-near-tiniteqilaaq-visit-greenland.jpg?width=1920&height=1280&mode=crop&format=jpg&quality=60') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  color: black  ;

    margin-top:150px;
    top: 0;
    bottom: auto;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 768px;
/*  background-color: blue;*/
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 768px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  .sidenav {
    width: 20%;
  }
}

@media only screen and (max-width: 500px) {
  .sidenav {
    display: none;
  }

  section {
      margin-left: 0%;
  }
}

@media (min-width: 800px) {
  .featurette-heading {
    margin-top: 50px;
  }
  #wrap { width:500px; margin:0 auto; border:3px solid red; }
  #body { overflow:auto; }
}
