<h1>Cliq</h1>

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


<div class="custom-center custom-text">
  Cliq. Invite. Play.
</div>
<div>

    <div class="custom-center">
    <span class="custom-button">
      <md-button class="md-primary md-raised" ng-click="landing.openSignup()">
        Sign-Up
      </md-button>
      <md-button class="md-primary md-raised" ng-click="landing.openLogin()">
        Login
      </md-button>
    </span>
    </div>

</div>
