
<div id="wrap">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
      <md-button class="md-primary md-raised" ng-click="landing.openLogin()">
        Login
      </md-button>
  </div>
</nav>



<div class="jumbotron">
<h1>Cliq</h1>
    <span class="custom-button">
      <md-button class="md-primary md-raised" ng-click="landing.openSignup()">
        Sign-Up
      </md-button>

    </span>
</div>

<div>
<div class="custom-center custom-text">




</div>
<div>





</div>
</div>


<div class="row">
<div class="custom-center">
  <div class="col-sm-4">
          <img class="img-circle" src="" width="140" height="140">
          <h2>Create</h2>
          <p>Create a new event and automatically invite all of your close friends to the event!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
  <div class="col-sm-4">
          <img class="img-circle" src="" width="140" height="140">
          <h2>Chat</h2>
          <p>Talk about what your going to do, where your going to and how much fun its going to be!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
<div class="col-sm-4">
          <img class="img-circle" src="" width="140" height="140">
          <h2>Meet</h2>
          <p>Meet up with your friends and go crazy! You've planned and talked about it, now its time to do it!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        </div>
</div>


<div class="row">
<div class="custom-center">


   <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Angular. <span class="text-muted">Two-way Data binding, it'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="../../assets/shield-with-beta.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">NodeJS and Express. <span class="text-muted">Javascript on the backend? Yes. Please.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="../../assets/nodejs-logo.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">MySQL.<span class="text-muted"> User. Events. Friends. Relational Data? Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="../../assets/mysql_hosting.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
</div>
</div>
</div>