<md-dialog>
   <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Sign-Up</h2>
      </div>
    </md-toolbar>
<div style="padding-top:30px; text-align: center;">Welcome!</div>

<form style="width:475px; padding-top:30px; padding: 50px">
  <md-input-container>
    <input type='text' ng-model='signup.username' placeholder="Username"><br>
  </md-input-container>

  <md-input-container>
    <input type='text' ng-model='signup.email' placeholder="E-Mail"><br>
  </md-input-container>

  <md-input-container>
    <input type='password' ng-model='signup.password' placeholder="Password"><br>
  </md-input-container>
  <md-input-container>
    <input type='password' ng-model='signup.passwordConfirm' placeholder=" Confirm Password"><br>
  </md-input-container>

  <div ng-repeat="errors in signup.errors" style="height:35px; width:400px; color: red">
    {{errors}}
  </div>
</form>
<md-dialog-actions style="padding-top: 30px; padding-bottom:30px; padding-right:30px" layout="row">
  <md-button class="md-raised md-primary" ng-click='signup.cancel()'>Cancel</md-button>
  <md-button class="md-raised md-primary" ng-click='signup.submit(signup.username, signup.email, signup.password, signup.passwordConfirm)'>Submit</md-button>
</md-dialog-actions>



</md-dialog>