<div ng-init="dashboard.populateFriendsEvents()">

<!-- sidenav -->
<div  class="sidenav w3-card-4 w3-indigo" ng-class="{'full-sidenav': dashboard.isActive}" >
<!-- userprofile card -->
  <div class="w3-card-2 w3-indigo" >
    <div class="w3-container w3-center w3-indigo user-card">
      <h3 style="font-color: white">{{dashboard.loggedUsername}}</h3>
        <div style="width:100%" ng-click="dashboard.uploadPhoto()">
          <img  class="user-img-circle img-circle" style="width:100%; font-color: white"  text="Click to Upload Image"src="{{dashboard.userPhoto}}">
        </div>
        <br>
        <div>Lets see what your friends are up to.</div>
        <br>
    </div>
  </div>
<!-- Friend List -->
  <md-list class="w3-white" style="font-color: white;">
    <md-list-item class="md-3-line" ng-repeat="friend in dashboard.trueFriend">
     <img class="friend-img" src="{{friend.pic}}" class="">
        <div class="md-list-item-text">
          <h3 class="friend-name">{{friend.username}}</h3>
        </div>
        <!-- delete Friend -->
        <div ng-show="dashboard.deleteButton" class="button-align">
          <md-button ng-click="dashboard.deleteFriend(friend.user_id, friend.friend_id, $event)" class="md-fab md-mini md-primary md-button md-ink-ripple md-warn" type="button" ng-transclude=""> -
          </md-button>
        </div>
    <md-divider inset=""></md-divider>
  </md-list-item>

  <!-- Connect Button -->
  <button class="w3-btn-block w3-indigo" ng-click="dashboard.pendingList = !dashboard.pendingList">
    <span ng-show="!dashboard.pendingList">+</span>
      <span>Connect</span>
    <span ng-show="dashboard.pendingList">-</span>
  </button>

<!-- Friend Requested or Friend Pending -->
<!-- friend requested -->
    <div ng-show="dashboard.pendingList">
      <md-list-item  class="md-3-line" ng-repeat="friend in dashboard.falseFriend
      | filter: { friend_id: dashboard.loggedUserId}">
        <img class="friend-img" src="{{friend.pic}}">
        <div class="md-list-item-text">
          <h3>{{friend.username}}</h3>
          <span><p>Friend?</p></span>
        </div>
        <div class="button-align">
          <md-button class="md-fab md-mini md-primary md-button md-ink-ripple md-warn" type="button" ng-transclude="" ng-click="dashboard.deleteFriend(friend.user_id, friend.friend_id, $event)"> -
          </md-button>
        </div>
        <div class="button-align">
          <md-button ng-click="dashboard.addFriend(friend.user_id, dashboard.loggedUserId)" class="md-fab md-mini md-primary md-button md-ink-ripple" type="button" ng-transclude=""> +
          </md-button>
        </div>
      <md-divider inset=""></md-divider>
      </md-list-item>
  <!-- friend pending -->
      <md-list-item class="md-3-line" ng-repeat="friend in dashboard.falseFriend | filter: { user_id: dashboard.loggedUserId}">
        <img class="friend-img" src="{{friend.pic}}">
        <div class="md-list-item-text">
          <h3>{{friend.username}}</h3>
          <span><p>Requested.</p></span>
        </div>
        <div class="button-align" ng-show="dashboard.deleteButton">
          <md-button class="md-fab md-mini md-primary md-button md-ink-ripple md-warn" type="button" ng-transclude="" ng-click="dashboard.deleteFriend(friend.user_id, friend.friend_id, $event)"> -
          </md-button>
        </div>
        <md-divider inset=""></md-divider>
      </md-list-item>
      <button class="w3-btn-block w3-deep-orange" ng-click="dashboard.deleteButton = !dashboard.deleteButton;">Delete Friend or Event</button>
    </div>
  </md-list>
</div>

<!-- Main Page -->
<section ng-class="{'no-section': dashboard.isActive}">
<!-- title toolbar -->
  <toolbar>
    <md-toolbar class="md-hue-2 w3-card-4">
      <div class="md-toolbar-tools">
      <div >
      <md-button ng-click="dashboard.classSwitch()" ria-label="Settings" class="md-primary md-icon-button hide-md hide-lg hide-gt-lg hide-xl">
        <md-icon style="width: 30px; padding-right:10px" md-svg-icon="../../assets/menu-alt.svg"></md-icon>
      </md-button>
      </div>
        <h1 style="font-size: 30px">
          Cliq
        </h1>
        <span flex=""></span>
          <md-button class="md-primary md-raised"
          ng-click="dashboard.showSearch($event, dashboard.falseFriend)">
            Search For Friends
          </md-button>
          <md-button ng-click="dashboard.logout()"class="md-primary md-raised">
            Log out
          </md-button>
      </div>
    </md-toolbar>
  </toolbar>
<!-- add Event Card -->
  <div class="col-md-12  event-card">
    <div class="card w3-card-4">
      <md-toolbar class="w3-card-4">
        <div class="md-toolbar-tools">
          <h3>Add Event</h3>
        </div>
      </md-toolbar>
      <md-content class="w3-card-4 inner-text">
        <md-input-container class="col-md-12">
          <span>
            <input type='text' ng-model='dashboard.eventName' placeholder="Send out Event!">
            <md-button class="md-primary md-raised"ng-click="dashboard.addEvent(dashboard.eventName, dashboard.friendsList)">
            send to friends
            </md-button>
          </span>
        </md-input-container>
      </md-content>
    </div>
  </div>
</section>

<!-- Current Events Card -->
<section ng-class="{'no-section': dashboard.isActive}">
  <div class="col-md-6 event-card">
    <md-toolbar class="w3-card-4">
      <div class="md-toolbar-tools">
        <h3>Events</h3>
      </div>
    </md-toolbar>
    <md-content class="w3-card-4">
      <md-list>
        <div ng-show="!dashboard.eventList.length" class="w3-card-4 inner-text  chat-card">
          Start an event or wait for your friends to create one!
        </div>
        <md-list-item class="md-3-line" ng-repeat="event in dashboard.eventList">
          <div class="md-list-item-text inner-text">
            <h4 style="font-size: 18px"><strong>{{event.event_name}}</strong></h4>
            <h4>Event Creator: {{event.event_creator_name}}</h4>
            <div style="width:270px; overflow:visible" flex ng-repeat="friends in event.username">
              <!-- Users has not yet commited to event -->
              <div id="friend-in-events1" ng-if="event.event_creator !== dashboard.loggedUserId && dashboard.loggedUserId === friends.userId">
                <strong> {{friends.username}} </strong>
              </div>
              <!-- Friend Not yet committed to event -->
              <div id="friend-in-events2" ng-if="friends.userId !== dashboard.loggedUserId && friends.userId !== event.event_creator">
                <div ng-if="friends.accept === 1">
                  <strong> {{friends.username}} </strong>
                </div>
                <div ng-if="friends.accept === 0">
                  {{friends.username}}
                </div>
              </div>
              <!-- Buttons -->
              <div>
                <div class="md-secondary" ng-if="friends.userId === dashboard.loggedUserId && friends.accept === 1">
                  <md-button ng-show="dashboard.deleteButton" class="md-fab md-mini md-primary md-button md-ink-ripple md-warn" type="button" ng-transclude="" ng-click="dashboard.deleteEvent(event.event_id)"> -
                  </md-button>
                  <md-button ng-show="!dashboard.deleteButton" class="md-raised md-primary" ng-click="dashboard.enterChat(event.event_id, event.event_name)">
                    Enter Chat
                  </md-button>
                </div>
                <div class="md-secondary" ng-if="event.event_creator !== dashboard.loggedUserId && dashboard.loggedUserId === friends.userId">
                  <md-button ng-show="dashboard.deleteButton" class="md-fab md-mini md-primary md-button md-ink-ripple md-warn" type="button" ng-transclude="" ng-click="dashboard.deleteEvent(event.event_id)"> -
                  </md-button>
                  <md-button ng-show="!dashboard.deleteButton" ng-hide="friends.accept" ng-click="dashboard.attendEvent(friends.userId, event.event_id)">
                    Going!
                  </md-button>
                </div>
              </div>
            </div>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div >

<!-- chat -->
  <div class="col-md-6 event-card">
    <md-toolbar class="w3-card-4">
      <div class="md-toolbar-tools">
        <h3>{{dashboard.chatName}} Chat</h3>
      </div>
    </md-toolbar>
    <md-content class="w3-card-4 inner-text  chat-card">
      <div ng-show="!dashboard.messageInput">Enter a chat to see messages! </div>
      <div ng-show="dashboard.messageInput" layout layout-align="center" >
        <div layout="row" flex>
          <md-input-container flex class="md-icon-float md-block md-title">
            <input type='text' ng-model='dashboard.msg' placeholder="Send Message">
          </md-input-container>
          <div>
            <md-button class="md-raised" ng-enter="dashboard.sendMsg(dashboard.msg)" ng-click="dashboard.sendMsg(dashboard.msg)">
              SEND
            </md-button>
          </div>
        </div>
      </div>


      <div class="column">
        <div ng-repeat="msg in dashboard.msgList| orderBy: timestamp :true">
          <div class="chat-bubble" layout="row" >
            <div flex="10">
            <img  class="chat-friend-img" src="{{msg.pic}}">
            </div>
            <div flex="6"></div>
            <div flex="80" style="font-size: 18px" class="chat-bubble-text" >
              {{msg.username}} : {{msg.timestamp | date:'MM/dd/yyyy @ h:mma'}} : {{msg.text}}
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>

</section>

</div>
